[submodule "vendor/quickjs-ng"]
	path = vendor/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "vendor/wamr"]
	path = vendor/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "vendor/metal0"]
	path = vendor/metal0
	url = https://github.com/teamchong/metal0.git
[submodule "vendor/binaryen"]
	path = vendor/binaryen
	url = https://github.com/WebAssembly/binaryen.git
