[submodule "vendor/wasmedge"]
	path = vendor/wasmedge
	url = https://github.com/WasmEdge/WasmEdge.git
[submodule "vendor/quickjs-ng"]
	path = vendor/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
